body {
	background:gray;
}



.page {
	width:1000px;
	height: 1100px;
	margin:auto;
	font-family:arial;
	font-size:16px;
	line-height: 17px;
	border:2px solid black;
	box-shadow:12px 14px 13px black;
}
.picture {height: 150px;
width:240px;}

.left-content {
	background:lightgray;
	float:left;
	width:40%;
	height: 1100px;
}


.right-content {
	width:60%;
	background: white;
	float:right;
	height: 1100px;

}

.section {
	margin-bottom:20px;
	text-align: justify;
	margin-top:10px;
}

.p-left {
	float:left;
	margin-top:-16px;
	

}
.p-right {
	margin-left:130px;
	
}
h2 {
	font-size:25px;
	text-transform: uppercase;
	text-align: left;
	clear:left;
}
.line {
	background-color:blue; 
float:left;}
.line1 {background-color:gray;
float:left;}

.line { width:90px;height:5px;}
.line1 {width:10px;height:5px;}
.line2 {
	background-color:blue; 
float:left;}
.line3 {background-color:gray;
float:left;}

.line2 { width:80px;height:5px;}
.line3 {width:20px;height:5px;}
.line4 {
	background-color:blue; 
float:left;}
.line5 {background-color:gray;
float:left;}
.line4 { width:70px;height:5px;}
.line5 {width:30px;height:5px;}

.n {
	background-color:#00008B;
	color:white;
	width:240px;
	height:20px;
	text-align: center;
	margin:0;
padding-top:10px;}
 .n:before {
    content: ' \260E';}
 .mail {
	background-color:#0000FF;
	color:white;
	width:240px;
	height:20px;
	text-align: center;
	margin:0;
padding-top:10px;}
 .mail:before {
    content: ' \2297'; 
}
.mail1 {
	background-color:#20B2AA;
	color:white;
	width:240px;
	height:20px;
	text-align: center;
	margin:0;
	padding-top:10px;
	}
 .mail1:before {
    content: ' \2709';
    clear:both;
}
.jasonMartin {
		
	text-align: center;
}
.anna {
	font-weight: bold;
	letter-spacing: 5px;
	font-size:30px;
	color:dodgerblue;
}
.exp {background:lightgray; height:20px;text-align:center;padding-top:5px;}
.exp 1 {
	float:left;
}
.years {
	margin-left:10px;
	line-height: 40px;

}
.first-line {
text-align: center;
font-weight:bold;
margin-left:100px;
}
.years1 {
	margin-left:10px;
	line-height: 30px;

}
.first-line1 {
text-align: center;
font-weight:bold;
margin-left:100px;
}
.hob {
	text-align: center;
	margin-top:50px;
	word-spacing: 10px;
	font-size:20px;
	text-shadow: 2px 2px #FF0000;
}